@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&display=swap');

:root{
  --purple: #8257E6;
  --gray: #707982;
  --background: #13131F;
  --card: #212121;
}

.all{
  background-color: var(--background);
}


.textGraySmall {
  font-family: 'Poppins';
  font-size: 14;
  color: var(--gray) 
}

.textWhiteSmall {
  color: #FFF;
  font-family: 'Poppins';
  font-size: 14;
}


.textPurpleSmall {
  font-family: 'Poppins';
  font-size: 1.6rem;
  font-weight: 500;
  color: #8257E6;
  margin-bottom: 1.5rem;
}


.card {
  background-color: var(--card);
  width: 12rem;
  text-align: center;
  aspect-ratio: 1;
  border-top-left-radius: 2.5rem;

}

.insideCard{
  padding: 20px;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
  bottom: -0.1rem;
  left: 0;
}

.card-img-top {
  width: 4rem;
}


.headerImg {
  border-radius: 100%;
}

#buttonCV {
  color: #FFF;
  background-image: linear-gradient(90deg, rgba(130, 87, 230, 0.8) .2%, rgba(121, 48, 190, 0.648) 100%);
  border: 1px solid;
  border-radius: 20px;

}

#buttonContact {
  color: #FFF;
  background-color: var(--card);
  border: 1px solid;
  border-radius: 20px;

}

.custom-toggler {
  border-color: #FFF;
  background-color: #FFF;
}

.custom-toggler::before {
  background-color: white;
}

.title {
  font-size: 32px;
  color: #FFF
}

.titleBlue {
  font-size: 32px;
  color: #7C3DCC;
  margin-top: -20px;

}

.navbar{
  background-color: var(--card);
}

.text {
  color: #707982;
  font-size: 1.2rem;
}


.container {
  margin-right: auto;
  margin-left: auto;
}

.cover ::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}